* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
a {
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    color: #f5f4f4;
    height: 90px;
    width: 100%;
    background: #002623;
    overflow: hidden;
    padding-bottom: 15px;
}

